<body>
<div class="w3layoutscontaineragileits" style="margin-top: 50px">
  <h2>Đăng nhập</h2>
  <form action="#" method="post">
    <input type="email" Name="Username" placeholder="TÀI KHOẢN" required="">
    <input type="password" Name="Password" placeholder="MẬT KHẨU" required="">
    <ul class="agileinfotickwthree">
      <li>
        <input type="checkbox" id="brand1" value="">
        <label for="brand1"><span></span>Ghi nhớ đăng nhập</label>
        <a href="#">Quên mật khẩu?</a>
      </li>
    </ul>
    <div class="aitssendbuttonw3ls">
      <input type="submit" value="ĐĂNG NHẬP">
      <p style="color: #e8b563;"> Đăng ký <span class="me-2">→</span> <a class="w3_play_icon1" href="#small-dialog1"> Tại đây</a></p>
    </div>
  </form>
</div>
</body>
