<section class="container pb-5" style="background-color: #f3d8d8; margin-top: 50px">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 col-sm-12 px-0 d-none d-sm-block text-center" style="margin-top: 50px">
        <img src="/assets/images/login3.png"
             alt="Login image" class="w-100 vh-50" style="object-fit: cover; object-position: left;">
      </div>

      <div class=" col-md-6 col-sm-12 text-black">
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-3">
          <form style="width: 100%" [formGroup]="formGroup" (ngSubmit)="login()">
            <h3 class="fw-normal text-center mt-3 mb-3 pb-3" >Đăng nhập</h3>

            <div class="form-outline mb-5">
              <label class="form-label" for="form2Example18">Tài khoản: </label>
              <input type="email" formControlName="username" id="form2Example18" class="form-control form-control-lg"/>
              <div style="position: absolute">
                <p class="text-danger m-0">{{errors.username}}</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.username.hasError('required')&&formGroup.controls.username.touched">Yêu
                  cầu phải nhập tài khoản.</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.username.hasError('minlength')&&formGroup. controls.username.dirty">Tài
                  khoản phải lớn hơn 3 ký tự.</p>
              </div>
            </div>

            <div class="form-outline mb-5">
              <label class="form-label" for="form2Example28">Mật khẩu: </label>
              <input type="password" id="form2Example28" formControlName="password"
                     class="form-control form-control-lg"/>
              <div style="position: absolute">
                <p class="text-danger m-0">{{errors.password}}</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.password.hasError('required')&&formGroup.controls.username.touched">Yêu
                  cầu phải nhập mật khẩu.</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.password.hasError('minlength')&&formGroup. controls.username.dirty">Mật
                  khẩu phải lớn hơn 3 ký tự.</p>
              </div>
            </div>

            <div class=" mb-4 text-center">
              <button class="btn btn-warning   btn-lg btn-block" type="submit">Đăng nhập</button>
            </div>
            <div class=" text-left">
              <label for="remember" class="">Ghi nhớ đăng nhập
                <input type="checkbox" id="remember" formControlName="rememberMe">
              </label>
            </div>
            <p class="small"><a class="text-muted" href="#!">Forgot password?</a></p>
            <p>Đăng ký tài khoản? <a href="#!" class="link-info">Tại đây</a></p>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

