<section class="container pb-3" style="background: radial-gradient(#0b75c7, #0a307d); margin-top: 50px; width: 60%">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 col-sm-12 px-0 d-none d-sm-block text-center" style="margin: auto">
        <img src="/assets/images/login3.png"
             alt="Login image" style="object-fit: cover; object-position: left; width: 90%">
      </div>

      <div class=" col-md-6 col-sm-12 text-light">
        <div class="d-flex justify-content-center h-custom-2 px-3 ms-xl-2 pt-xl-0 mt-xl-3">
          <form [formGroup]="formGroup" (ngSubmit)="login()">
            <h2 class="fw-normal text-center mt-2 pb-2" >Đăng nhập</h2>

            <div class="form-outline mb-5">
              <label class="form-label" for="form2Example18">Tài khoản: </label>
              <input type="email" formControlName="username" id="form2Example18" class="form-control"/>
              <div style="position: absolute">
                <p class="text-danger m-0">{{errors.username}}</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.username.hasError('required')&&formGroup.controls.username.touched">Yêu
                  cầu phải nhập tài khoản.</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.username.hasError('minlength')&&formGroup. controls.username.dirty">Tài
                  khoản phải lớn hơn 3 ký tự.</p>
              </div>
            </div>

            <div class="form-outline mb-5">
              <label class="form-label" for="form2Example28">Mật khẩu: </label>
              <input type="password" id="form2Example28" formControlName="password"
                     class="form-control "/>
              <div style="position: absolute">
                <p class="text-danger m-0">{{errors.password}}</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.password.hasError('required')&&formGroup.controls.username.touched">Yêu
                  cầu phải nhập mật khẩu.</p>
                <p class="text-danger m-0"
                   *ngIf="formGroup.controls.password.hasError('minlength')&&formGroup. controls.username.dirty">Mật
                  khẩu phải lớn hơn 3 ký tự.</p>
              </div>
            </div>

            <div class=" mb-3 text-center">
              <button class="btn btn-warning btn-block" style="color: #1d2e50" type="submit">Đăng nhập</button>
            </div>
            <div class=" text-left">
              <label for="remember" class="">Ghi nhớ đăng nhập
                <input type="checkbox" id="remember" formControlName="rememberMe">
              </label>
            </div>
            <p>Đăng ký tài khoản? <a href="#!" class=" link-info">Tại đây</a></p>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

