<div class="row m-2 run">
  <ul class="d-flex justify-content-between" style="list-style: none">
    <li><a href="" title="Asics">
      <img alt="Asics" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/284.jpg"></a>
    </li>
    <li><a href="" title="adidas">
      <img alt="adidas" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/263.jpg"></a>
    </li>
    <li><a href="" title="Nike">
      <img alt="Nike" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/365.jpg"></a>
    </li>
    <li><a href="" title="Altra">
      <img alt="Altra" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/1648.jpg"></a>
    </li>
    <li><a href="" title="New balance">
      <img alt="New balance" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/1312.jpg"
      ></a></li>
    <li><a href="" title="La sportiva">
      <img alt="La sportiva" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/482.jpg"></a>
    </li>
    <li><a href="" title="Mizuno">
      <img alt="Mizuno" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/132.jpg"></a>
    </li>
    <li><a href="" title="Puma">
      <img alt="Puma" src="https://storage.googleapis.com/tradeinn-images/images/logos_proveidors/514.jpg"></a>
    </li>
  </ul>
</div>

<div id="carouselExampleDark" class="carousel carousel-dark slide container-fluid" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="/assets/images/anh2.png" style="height: 600px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/images/anh1.png" style="height: 600px" class="d-block w-100" alt="...">

    </div>
    <div class="carousel-item">
      <img src="/assets/images/anh3.png" style="height: 600px" class="d-block w-100" alt="...">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5 mb-5">
  <div class="gallary-header text-center">
    <h1 style="width: 100%;background-color: #0076ad;height: 20px;"><p class="spbc"
                                                                       style="background-color: white;width: 50%;line-height: 3px;padding: 5px 5px 13px 5px;margin: auto">
      Top 12 sản phẩm bán chạy
    </p></h1>
  </div>
</div>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <div class="row m-0">
        <div class="col-md-3 col-sm-6 col-6 d-flex justify-content-center" *ngFor="let list1 of bestProductList1">
          <figure class="snip1515 card1 card2">
            <div class="profile-image" style="box-shadow: 0 0 5px 0 #2879d0"><a type="button" [routerLink]="['/body/detail',list1.productId]">
              <img [src]="list1.avatar" style="width: 220px; height: 210px; box-shadow: 0 0 5px 0 #2879d0" alt="sample47"/></a>
            </div>
            <figcaption>
              <h6 class="text-uppercase">{{list1.productName | slice : 0: 20}}...</h6>
              <b style="color: #fa8824; display: inline">Giá: {{list1.price | currency:'USD'}} </b>
              <b class="pull-right mb-2 small"
                 style="color: #8c8c8c; text-decoration-line: line-through; display: inline"> {{list1.price * 1.1 | currency:'USD'}}</b>
              <b class="mb-1" style="display: block; color: #aaaaaa">Số lượng đã bán: {{list1.total}}</b>
              <button class="btn btn-warning mb-1" [routerLink]="['/body/detail',list1.productId]"
                      target="_blank" style="font-size: small; width: 150px">
                <img src="https://img.icons8.com/pastel-glyph/64/null/briefcase--v2.png"
                     style="width: 15%"/> {{role == 'ROLE_ADMIN' ? 'xem chi tiết' : 'Thêm vào giỏ'}}
              </button>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <div class="row m-0">
        <div class="col-md-3 col-sm-6 col-6 d-flex justify-content-center" *ngFor="let list1 of bestProductList2">
          <figure class="snip1515 card1 card2">
            <div class="profile-image" style="box-shadow: 0 0 5px 0 #2879d0"><a type="button" [routerLink]="['/body/detail',list1.productId]">
              <img [src]="list1.avatar" style="width: 220px; height: 210px; box-shadow: 0 0 5px 0 #2879d0" alt="sample47"/></a>
            </div>
            <figcaption>
              <h6 class="text-uppercase">{{list1.productName | slice : 0: 20}}...</h6>
              <b style="color: #fa8824; display: inline">Giá: {{list1.price | currency:'USD'}} </b>
              <b class="pull-right mb-2 small"
                 style="color: #8c8c8c; text-decoration-line: line-through; display: inline"> {{list1.price * 1.1 | currency:'USD'}}</b>
              <b class="mb-1" style="display: block; color: #aaaaaa">Số lượng đã bán: {{list1.total}}</b>
              <button class="btn btn-warning mb-1" [routerLink]="['/body/detail',list1.productId]"
                      target="_blank" style="font-size: small; width: 150px">
                <img src="https://img.icons8.com/pastel-glyph/64/null/briefcase--v2.png"
                     style="width: 15%"/> {{role == 'ROLE_ADMIN' ? 'xem chi tiết' : 'Thêm vào giỏ'}}
              </button>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <div class="row m-0">
        <div class="col-md-3 col-sm-6 col-6 d-flex justify-content-center" *ngFor="let list1 of bestProductList3">
          <figure class="snip1515 card1 card2">
            <div class="profile-image" style="box-shadow: 0 0 5px 0 #2879d0"><a type="button" [routerLink]="['/body/detail',list1.productId]">
              <img [src]="list1.avatar" style="width: 220px; height: 210px; box-shadow: 0 0 5px 0 #2879d0" alt="sample47"/></a>
            </div>
            <figcaption>
              <h6 class="text-uppercase">{{list1.productName | slice : 0: 20}}...</h6>
              <b style="color: #fa8824; display: inline">Giá: {{list1.price | currency:'USD'}} </b>
              <b class="pull-right mb-2 small"
                 style="color: #8c8c8c; text-decoration-line: line-through; display: inline"> {{list1.price * 1.1 | currency:'USD'}}</b>
              <b class="mb-1" style="display: block; color: #aaaaaa">Số lượng đã bán: {{list1.total}}</b>
              <button class="btn btn-warning mb-1" [routerLink]="['/body/detail',list1.productId]"
                      target="_blank" style="font-size: small; width: 150px">
                <img src="https://img.icons8.com/pastel-glyph/64/null/briefcase--v2.png"
                     style="width: 15%"/> {{role == 'ROLE_ADMIN' ? 'xem chi tiết' : 'Thêm vào giỏ'}}
              </button>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span style="background-color: #16cfe0; width: 30px;height: 50px; border-radius: 15%"
          class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span style="background-color: #16cfe0; width: 30px;height: 50px; border-radius: 15%"
          class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5 mb-5">
  <div class="gallary-header text-center">
    <h1 style="width: 100%;background-color: #0076ad;height: 20px;"><p class="cmtt"
                                                                       style="background-color: white;width: 50%;line-height: 2px;padding: 5px 5px 13px 5px;margin: auto">
      Các môn thể thao
    </p></h1>
  </div>
</div>

<div class="row m-2 filtr-container">
  <div class="col-md-3 col-sm-6 filtr-item">
    <a routerLink="product/search/-1"><img src="/assets/images/mon1.png" style="box-shadow: 0 0 10px 0 #b36800" class="card-img-top" alt="..."></a>
  </div>
  <div class="col-md-3 col-sm-6 filtr-item">
    <a routerLink="product/search/1"><img src="/assets/images/mon2.png" style="box-shadow: 0 0 10px 0 #b36800" class="card-img-top" alt="..."></a>
  </div>
  <div class="col-md-3 col-sm-6 filtr-item">
    <a routerLink="product/search/4"><img src="/assets/images/mon3.png" style="box-shadow: 0 0 10px 0 #b36800" class="card-img-top" alt="..."></a>
  </div>
  <div class="col-md-3 col-sm-6 filtr-item">
    <a routerLink="product/search/3"><img src="/assets/images/mon4.png" style="box-shadow: 0 0 10px 0 #b36800" class="card-img-top" alt="..."></a>
  </div>
</div>


<section id="pack" class="packages">
  <div class="container-fluid">
    <div class="gallary-header text-center">
      <h1 style="width: 100%;background-color: #0076ad;height: 20px;"><p class="phukien"
                                                                         style="background-color: white;width: 50%;line-height: 3px;padding: 5px 5px 13px 5px;margin: auto">
        Phụ kiện thể thao
      </p></h1>
    </div>
    <div class="d-flex offset-3 col-6 zoom mt-5">
      <input class="form-control me-2" [(ngModel)]="productName" (change)="searchPrice($event, size)" type="search"
             placeholder="Bạn cần tìm gì?"
             aria-label="Search" style="border-color: #0076ad">
      <button class="btn btn-primary" (click)="searchPrice($event, size)" type="button"
              style="border-radius: 50%"><i class="fa-brands fa-searchengin"></i></button>
    </div>
    <div class="packages-content">
      <div class="row">
        <div class="border-bottom border-top col-md-2 col-12"
             style="background-color: #f1eeeb; opacity: 0.8; color: #ee7307">
          <h5 class="mb-4 text-center p-2">Tìm kiếm theo giá</h5>
          <form [formGroup]="formPrice">
            <div>
              <div class="custom-control custom-radio row mb-3">
                <div class="col-1">
                  <input type="checkbox" value="0-2000000" (change)="searchPrice($event, size)"
                         class="custom-control-input" id="all">
                </div>
                <label class="custom-control-label col-5" for="all">Tất cả</label>
                <div class="col-5">
                  <span class=" badge border font-weight-normal" style="color: #b36800"> {{search}} sản phẩm</span>
                </div>
              </div>
              <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">
                <div class="col-1">
                  <input type="checkbox" value="0-500" (change)="searchPrice($event, size)" class="custom-control-input"
                         id="price1">
                </div>
                <label class="custom-control-label col-5" for="price1">0-500</label>
                <div class="offset-5">
                </div>
              </div>
              <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">
                <div class="col-1">
                  <input type="checkbox" value="500-1000" (change)="searchPrice($event, size)"
                         class="custom-control-input"
                         id="price3">
                </div>
                <label class="custom-control-label col-5" for="price3">500-1000</label>
                <div class="offset-5">
                </div>
              </div>
              <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">
                <div class="col-1">
                  <input type="checkbox" value="1000-2000" (change)="searchPrice($event, size)"
                         class="custom-control-input"
                         id="price2">
                </div>
                <label class="custom-control-label col-5" for="price2">1000-2000</label>
                <div class="offset-5">
                </div>
              </div>
              <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">
                <div class="col-1">
                  <input type="checkbox" value="2000-2000000" (change)="searchPrice($event, size)"
                         class="custom-control-input"
                         id="price4">
                </div>
                <label class="custom-control-label col-5" for="price4">Trên 2000</label>
                <div class="offset-5">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-10">
          <div class="row" *ngIf="productPage; else elseBlock">
            <div class="col-md-3 col-sm-6 col-6" *ngFor="let item of productList">
              <div class="single-package-item item1"
                   style="background-color: #295d76; border-radius: 10%; box-shadow: 0 0 5px 0 #2879d0 ">
                <div *ngIf="role=='ROLE_ADMIN'" style="position: absolute; top: 10px ; right: 15px; z-index: 1">
                  <a type="button" (click)="getItemProduct(item.productId, item.productName)" style="border-radius: 50%"
                     class=" btn btn-danger" data-bs-toggle="modal"
                     data-bs-target="#exampleModal"><i
                    class="fas fa-times"></i></a>
                </div>
                <img [src]="item.avatar" class="image" style="height: 240px; border-radius: 10%"
                     alt="package-place">
                <div class="middle">
                  <!--              <button class="btn btn-warning mb-3" [routerLink]="['/body/detail',item.productId]"-->
                  <!--                      style="font-size: small" target="_blank"><img-->
                  <!--                src="https://img.icons8.com/ios-glyphs/30/null/view-file.png" style="width: 20%"/> Chi tiết-->
                  <!--              </button>-->
                  <button class="btn btn-warning mb-2" [routerLink]="['/body/detail',item.productId]"
                          target="_blank" style="font-size: small; width: 150px"><img
                    src="https://img.icons8.com/pastel-glyph/64/null/briefcase--v2.png"
                    style="width: 15%"/> {{role == 'ROLE_ADMIN' ? 'Xem chi tiết' : 'Thêm vào giỏ'}}
                  </button>
                  <button [routerLink]="['/product/update',item.productId]" *ngIf="role=='ROLE_ADMIN'"
                          class="btn btn-warning mb-2" target="_blank" style="font-size: small"><img
                    src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-edit-social-media-ui-tanah-basah-glyph-tanah-basah.png"
                    style="width: 15%"/> Chỉnh sửa
                  </button>
                </div>
                <div class="single-package-item-txt text-center">
                  <h3 class="text-uppercase name" style="height: 70px;">{{item.productName | slice : 0 : 35}}...</h3>
                  <b class="pull-right" style="color: #fa8824">Giá: {{item.price | currency:'USD'}} </b>
                  <b class="pull-right small"
                     style="color: #8c8c8c; text-decoration-line: line-through; display: block">{{item.price * 1.1 | currency:'USD'}}</b>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center" *ngIf="productPage">
            <a style="cursor: pointer; color: #0076ad; text-decoration: none; font-size: large" type="button"
               (click)="searchPrice($event, size+4)" *ngIf="!last">
              <img
                src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-arrow-down-web-flaticons-lineal-color-flat-icons-4.png"
                style="width: 30px"/><br>
              Xem thêm
            </a>
            <a style="cursor: pointer; color: #0076ad; text-decoration: none;font-size: large" type="button"
               (click)="searchPrice($event, 4)" (change)="scrollToBlog()" *ngIf="last">
              <img
                src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-arrow-up-web-flaticons-lineal-color-flat-icons-4.png"
                style="width: 30px"/>
              <br>
              Ẩn bớt
            </a>
          </div>
        </div>

      </div>
      <ng-template #elseBlock>
        <div class="text-center text-danger">Không tìm thấy danh sách</div>
      </ng-template>
    </div>
  </div>
  <div class=" text-center mt-5">
    <img src="https://vieclam123.vn/ckfinder/userfiles/images/images/phieu-danh-gia-su-hai-long-cua-khach(1).jpg">
  </div>
</section>


<div class="global-notification-container container">
  <aside class="istock-colored-sale-notification-banner info">
    <div class="istock-colored-sale-notification__content"><span
      class="gloab-banner__white-tag">GIẢM GIÁ</span><span
      class="istock-colored-sale-notification__content-text"> TUẦN NÀY: Tiết kiệm 20% cho mọi nội dung hình ảnh với mã <strong>SAVE20</strong>.&nbsp;</span><a
      class="istock-colored-sale-notification__content-cta" href="/">Mua ngay
    </a></div>
    <figure class="close"></figure>
  </aside>
</div>


<!---------------------------------------------- Modal Delete ------------------------------------------>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa sản phẩm có tên <b class="text-danger text-uppercase">{{productNameDelete}}</b> không?
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" style="width: 20%" data-bs-dismiss="modal">Hủy</button>
        <button type="button" (click)="removeProduct(productIdDelete)" style="width: 20%" class="btn btn-success"
                data-bs-dismiss="modal">Đồng ý
        </button>
      </div>
    </div>
  </div>
</div>


