<section class="h-100 gradient-custom-2" >
  <div class="container-fluid py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col-12 col-md-9" >
        <div class="card" style="box-shadow: 0 0 20px 0 #253365" >
          <div class="rounded-top text-white d-flex flex-row new-bg" style=" height:300px">
            <div class="ms-4 d-flex flex-column" style="width: 150px;margin-top: 140px">
              <label class="hoverable mt-4 mb-2" for="fileInput">
                <img (change)="showPreview($event)" class="input img-fluid img-thumbnail "
                     style="width: 150px;height: 165px; z-index: 1;object-fit: cover" [src]="account.avatar">
                <input id="fileInput" type="file" class="input" (change)="showPreview($event)">
                <div class="hover-text">Chọn file</div>
                <div class="background"></div>
              </label>
              <button type="button" class="btn btn-light edit" (click)="patchValue()" data-mdb-ripple-color="dark"
                      style="z-index: 1;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit profile
              </button>
            </div>
            <div class="ms-3" style="margin-top: 240px;">
              <h4 class="mb-0">{{account.name}}</h4>
              <p>{{namePro}}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #e8b563;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class=" text-black" style="background-color: #eeeeee" >
            <div class="m-0" >
              <div class="nav">
                <ul>
                  <li style="width: 80%" class="li1" (click)="changeIndex(1)" [class.w-100]="index==1"
                      [class.active]="index==1">Thông tin cá nhân
                  </li>
                  <li style="width: 80%" class="li2" (click)="changeIndex(2)" [class.w-100]="index==2"
                      [class.active]="index==2">Lịch sử mua hàng
                  </li>
                  <li class="li3" (click)="changeIndex(3)" [class.w-100]="index==3" [class.active]="index==3">
                    Cài đặt
                  </li>
                </ul>
              </div>
              <div class="profile-body " >
                <div class="profile-posts tab" *ngIf="index==1">
                  <h1>Thông tin cá nhân</h1>
                  <div class="me-5 ms-5">
                    <div class="row mb-2 align-items-center">
                      <div class="col-md-4"><span><img style="width: 30px; height: 30px"
                                                       src="https://img.icons8.com/ios-filled/50/null/name.png"/></span>
                        Họ và tên:
                      </div>
                      <b class="font-italic mb-1 col-md-8"> {{account.name}}</b>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-4">
                        <span><img style="width: 30px; height: 30px"
                                   src="https://img.icons8.com/ios-filled/50/null/order-delivered.png"/></span> Địa chỉ:
                      </div>
                      <b class="font-italic mb-1 col-md-8"> {{account.address}}</b>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-4">
                        <span><img style="width: 30px; height: 30px"
                                   src="https://img.icons8.com/fluency-systems-filled/48/null/phone-book.png"/></span>
                        Số điện thoại:
                      </div>
                      <b class="font-italic mb-1 col-md-8"> {{account.phoneNumber}}</b>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-4">
                        <span><img style="width: 30px; height: 30px"
                                   src="https://img.icons8.com/ios-filled/50/null/apple-mail.png"/></span> Email:
                      </div>
                      <b class="font-italic mb-1 col-md-8"> {{account.email}}</b>
                    </div>
                    <div class="row mb-2" *ngIf="account.accountId == 2">
                      <div class="col-md-4 ">
                        <span><img style="width: 30px; height: 30px"
                                   src="https://img.icons8.com/external-gliphyline-royyan-wijaya/32/null/external-hobby-transportation-solid-gliphyline-royyan-wijaya.png"/></span>
                        Sở thích:
                      </div>
                      <b class="font-italic mb-1 col-md-8">yêu màu hồng, thích màu tím, ghét sự giả dối.</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profile-reviews tab" *ngIf="index==2" >
                <h1>Lịch sử mua hàng</h1>
                <table *ngIf="orderPage" class="table table-bordered table-hover" style="background-color: white">
                  <thead class="table-primary">
                  <tr class="text-center">
                    <th scope="col">STT</th>
                    <th scope="col">Ngày đặt hàng</th>
                    <th scope="col">Địa chỉ giao hàng</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Ghi chú</th>
                    <th scope="col">Chi tiết</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-center align-middle" *ngFor="let o of orderList,index as i ">
                    <th scope="row" >{{i + 1}}</th>
                    <td>{{o.orderDate }}</td>
                    <td>{{o.address }}</td>
                    <td>{{o.phoneNumber }}</td>
                    <td>{{o.note }}</td>
                    <td>
                      <a class="btn btn-outline-primary" style="text-align: center; width: 50px"  data-bs-toggle="modal" data-bs-target="#exampleModal1"
                         (click)="getPurchaseHistory(o.orderId)">
                        <img src="https://img.icons8.com/external-others-inmotus-design/67/null/external-I-mobile-keyboard-others-inmotus-design.png"/>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
                  <p *ngIf="!orderPage" class="text-danger text-center">Chưa có thông tin mua hàng.</p>


                <!--        Phân trang-->
                <div>
                  <div *ngIf="orderPage" class="d-flex justify-content-center" id="last-row">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item" [ngClass]="orderPage.first ? 'disabled': ''">
                          <a role="button" class="page-link" (click)="getOrderPurchase(0)">Trang đầu</a>
                        </li>
                        <li class="page-item" [ngClass]="orderPage.first ? 'disabled': ''">
                          <a role="button" class="page-link" (click)="getOrderPurchase(orderPage.number - 1)"><</a>
                        </li>
                        <li class="page-item" *ngIf="orderPage.number - 3 > 0">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number - 4)">{{orderPage.number - 3}}</a>
                        </li>
                        <li class="page-item" *ngIf="orderPage.number - 2 > 0">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number - 3)">{{orderPage.number - 2}}</a>
                        </li>
                        <li class="page-item" *ngIf="orderPage.number - 1 > 0">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number - 2)">{{orderPage.number - 1}}</a>
                        </li>
                        <li class="page-item" *ngIf="orderPage.number > 0">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number - 1)">{{orderPage.number}}</a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{orderPage.number + 1}}</a></li>
                        <li class="page-item" *ngIf="orderPage.number + 2 <= orderPage.totalPages">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number + 1)">{{orderPage.number + 2}}</a>
                        </li>
                        <li class="page-item" *ngIf="orderPage.number + 3 <= orderPage.totalPages">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number + 2)">{{orderPage.number + 3}}</a>
                        </li>
                        <li class="page-item" *ngIf="orderPage.number + 4 <= orderPage.totalPages">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number + 3)">{{orderPage.number + 4}}</a>
                        </li>
                        <li class="page-item" *ngIf="orderPage.number + 5 <= orderPage.totalPages">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number + 4)">{{orderPage.number + 5}}</a>
                        </li>
                        <li class="page-item" [ngClass]="orderPage.last ? 'disabled': ''">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.number + 1)">></a>
                        </li>
                        <li class="page-item" [ngClass]="orderPage.last ? 'disabled': ''">
                          <a role="button" class="page-link"
                             (click)="getOrderPurchase(orderPage.totalPages - 1)">
                            Trang cuối
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="profile-settings tab" *ngIf="index==3">
                <div class="account-setting text-center">
                  <h1>Cài đặt tài khoản</h1>
                  <p>Tính năng này đang phát triển. Vui lòng thử lại sau! </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="top: 10%;">
    <div class="modal-content" style="box-shadow: 0 0 20px 0 #253365;border-radius: 3%">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">SỬA THÔNG TIN CÁ NHÂN</h3>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formUpdate" (ngSubmit)="updateInfo()">
      <div class="modal-body">
          <div class="container">
            <input formControlName="accountId" type="hidden">
            <div class="row align-items-center mb-5 mt-2">
              <label class="col-3" for="name" style="font-weight: bold">Họ và tên:</label>
              <div class="col-9">
                <input class="form-control col-4" id="name" formControlName="name" type="text" >
              </div>
            </div>
            <div class="row align-items-center mb-5">
              <label class="col-3" for="phoneNumber" style="font-weight: bold">Số điện thoại:</label>
              <div class="col-9">
                <input class="form-control col-4" id="phoneNumber" formControlName="phoneNumber" type="text" >
              </div>
            </div>
            <div class="row align-items-center mb-5">
              <label class="col-3" for="email" style="font-weight: bold">Email:</label>
              <div class="col-9">
                <input class="form-control col-4" id="email" formControlName="email" type="text" >
              </div>
            </div>
            <div class="row align-items-center mb-2">
              <label class="col-3" for="address" style="font-weight: bold">Địa chỉ:</label>
              <div class="col-9">
                <input class="form-control col-4" id="address" formControlName="address" type="text" >
              </div>
            </div>
          </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
        <button type="submit" class="btn btn-warning">Lưu thông tin</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Purchase History-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="example1l" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="top: 10%;">
    <div class="modal-content" style="box-shadow: 0 0 20px 0 #253365;border-radius: 2%">
      <div class="modal-header">
        <h3 class="modal-title" id="example1">Chi tiết đơn hàng</h3>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table *ngIf="cartList" class="table table-bordered table-hover" style="background-color: white">
          <thead class="table-primary">
          <tr class="text-center">
            <th scope="col">STT</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Giá mua</th>
            <th scope="col">Số lượng</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center align-middle" *ngFor="let c of cartList,index as i ">
            <th scope="row" >{{i + 1}}</th>
            <td>{{c.productName }}</td>
            <td style="width: 40%"><img [src]="c.avatar" style="width: 20%"></td>
            <td>{{c.price | currency:'USD'}}</td>
            <td>{{c.quantity }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng lại</button>
      </div>
    </div>
  </div>
</div>
