
<section class="header">
  <nav>
    <div class="logo">
      <a routerLink="/">
      <img class="animationTop delay-01" src="/assets/images/logo.png" style=" background-size: cover"/></a>
    </div>
    <div class="nav-links">
      <ul>
<!--        <li>-->
<!--          <form class="d-flex">-->
<!--              <input class="form-control me-2" type="search" placeholder="Search"-->
<!--                     aria-label="Search">-->

<!--              <button class="btn btn-outline-success" type="submit"><i class="fa-brands fa-searchengin"></i></button>-->
<!--          </form>-->
<!--        </li>-->
        <li class="animationTop delay-03"><a>QUẢN LÝ ĐẶT SÂN</a>
        </li>
        <li class="animationTop delay-03"><a>CUSTOMER</a>
        </li>
        <li class="animationTop delay-03"><a routerLink="/security/login">ĐĂNG NHẬP</a>
        </li>
        <li class="animationTop delay-03">
          <a routerLink="/body/cart"><img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/null/external-cart-supermarket-wanicon-lineal-color-wanicon.png"
                  style="width: 70px"/></a>
        </li>

      </ul>
    </div>
  </nav>
  <form>
    <div class="d-flex offset-3 col-4 zoom">
    <input class="form-control me-2 " type="search" placeholder="Search"
           aria-label="Search">
    <button class="btn btn-outline-warning" type="submit" style="border-radius: 50%; width: 30px"><i class="fa-brands fa-searchengin"></i></button>
    </div>
  </form>
</section>
